/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/uploads/filesCandidate
/public/uploads/photoCandidate
/public/uploads/tempFileCandidate
/storage/debugbar/
.htaccess
/logs
/public/img/uploads
package-lock.json
composer.lock
